{% extends "ponsol2web/base_generic.html" %}
{% block title %} About {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>About<small></small></h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Citing PON-Sol</h2>
            <ol>
                <li><p>PON-Sol2 was developed by Lianjie Zeng, Yang Yang and Mauno Vihinen. Manuscript describing the
                    method has been submitted. <span class="label label-success">Waiting...</span></p>
                </li>
                <li><p>Citation for the original PON-Sol predictor is: </p>
                    <p>
                        Yang Yang, Abhishek Niroula, Bairong Shen, Mauno Vihinen
                        PON-Sol: prediction of effects of amino
                            acid
                            substitutions on protein solubility
                        Bioinformatics, Volume 32, Issue 13, 1 July 2016, Pages 2032–2034,
                        <a href='https://doi.org/10.1093/bioinformatics/btw066' target='_blank' class='url'>
                            https://doi.org/10.1093/bioinformatics/btw066</a>.
                    </p>
                </li>
            </ol>
            <h2 id="input_example">Start prediction</h2>
            <p>
                To start using PON-Sol2, you just need to provide protein sequence and amino acid substitution
                information. For protein sequences, there are two ways to input: directly by providing FASTA sequences
                or list of IDs( GI, Ensemble ID or UniProt). These data can be written or pasted to the boxes in the
                input forms or uploaded as a file. Both types allow the submission of variants in multiple queries
                simultaneously.
            </p>
            <p>
                To look for an input example, please click the "Example" text on the input page.
            </p>
            <h3>Input FASTA sequences</h3>
            <p>
                If complete FASTA sequence(s) is available, you can paste it to the input FASTA sequences box. FASTA
                sequence(s) and amino acid substitution(s) must be provided, e-mail is optional. If an email is
                provided, the results will be sent to you by email when ready.
            </p>
            <ol start=''>
                <li>FASTA sequences have to contain a header line starting with greater than sign (>) followed by amino
                    acids sequence. Amino acids sequence has to start from a new line.
                </li>
                <li>Information for amino acid substitutions has to contain the same header line as the sequence. An
                    amino acid substitution consists of three parts in HGVS format: original amino acid, position, and
                    new amino acid. For example, "A2M" means the second amino acid A (alanine) is substituted by M
                    (methionine). Use single letter amino acid codes. Each protein sequence can contain multiple amino
                    acid substitutions, each one indicated in a different line.
                </li>
            </ol>
            <h4>Example</h4>
            <ol start="">
                <li>
                    FASTA Sequence
                </li>
                <pre><code>>AAK83653.1 11-beta hydroxysteroid dehydrogenase type 1 [Homo sapiens]
MAFMKKYLLPILGLFMAYYYYSANEEFRPEMLQGKKVIVTGASKGIGREMAYHLAKMGAHVVVTARSKETLQKVVSHCLELGAASAHYIAGTMEDMTFAEQFVAQAGKLMGGLDMLILNHITNTSLNLFHDDIHHVRKSMEVNFLSYVVLTVAALPMLKQSNGSIVVVSSLAGKVAYPMVAAYSASKFALDGFFSSIRKEYSVSRVNVSITLCVLGLIDTETAMKAVSGIVHMQAAPKEECALEIIKGGALRQEEVYYDSSLWTTLLIRNPCRKILEFLYSTSYNMDRFINK

>sp|Q8NH21|OR4F5_HUMAN Olfactory receptor 4F5 OS=Homo sapiens OX=9606 GN=OR4F5 PE=3 SV=1
MVTEFIFLGLSDSQELQTFLFMLFFVFYGGIVFGNLLIVITVVSDSHLHSPMYFLLANLSLIDLSLSSVTAPKMITDFFSQRKVISFKGCLVQIFLLHFFGGSEMVILIAMGFDRYIAICKPLHYTTIMCGNACVGIMAVTWGIGFLHSVSQLAFAVHLLFCGPNEVDSFYCDLPRVIKLACTDTYRLDIMVIANSGVLTVCSFVLLIISYTIILMTIQHRPLDKSSKALSTLTAHITVVLLFFGPCVFIYAWPFPIKSLDKFLAVFYSVITPLLNPIIYTLRNKDMKTAIRQLRKWDAHSSVKF
</code></pre>
                <li>Amino Acid Substitution</li>
                <pre><code>>AAK83653.1 11-beta hydroxysteroid dehydrogenase type 1 [Homo sapiens]
M1A
F3K
>sp|Q8NH21|OR4F5_HUMAN Olfactory receptor 4F5 OS=Homo sapiens OX=9606 GN=OR4F5 PE=3 SV=1
V2E
T3F
</code></pre>

            </ol>
            <h3>Input Protein IDs</h3>
            <p>PON-Sol2 accepts also sequence IDs. Similar to FASTA Protein IDs, amino acid substitutions and types of
                IDs must be provided, and email is optional. If an email is provided, the results will be sent to you by
                email when ready.
            </p>
            <p>The IDs should be preceded by greater than sign (>). After that, provide amino acid substitutions
                starting from the next line. All the variants in a protein in a single list. After that, details for
                another sequence can be provided. Substitutions are provided in the HGVS format.
            </p>
            <h4>Example</h4>
            <ol start="">
                <li> ID and amino acid substitution</li>
                <pre><code>>Q5VT03
M1A
F2Q
>Q8NH21
V2A
</code></pre>
                <li> ID Type</li>
                <pre><code>UniProtKB/Swiss-Prot ID
</code></pre>
            </ol>
            <h2>Prediction results</h2>
            <p>PON-Sol2 provides results on separate web pages and if e-mail is provided they are mailed to the
                submitter. For each submission, which is called "Task" and for each amino acid substitution "Record"
                there will be detailed pages.
            <h2 id="dataset">Data sets</h2>
            <p>Extensive data mining was performed for obtaining cases for training and testing.
                Blind Test1 data set was originally used to test PON-Sol.
                <a class="btn btn-primary btn-xs text-capitalize" href="{% url "ponsol2:download-dataset-ponsol2" %}">
                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;download</a>

            <figure>
                <table class="table">
                    <thead>
                    <tr class="text-capitalize">
                        <th> Dataset</th>
                        <th> variations</th>
                        <th> decrease</th>
                        <th> no-change</th>
                        <th> increase</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> Training dataset</td>
                        <td> 5666</td>
                        <td> 2798</td>
                        <td> 1929</td>
                        <td> 939</td>
                    </tr>
                    <tr>
                        <td> Blind Test1 dataset</td>
                        <td> 46</td>
                        <td> 12</td>
                        <td> 22</td>
                        <td> 12</td>
                    </tr>
                    <tr>
                        <td> Blind Test2 dataset</td>
                        <td> 662</td>
                        <td> 338</td>
                        <td> 237</td>
                        <td> 87</td>
                    </tr>
                    </tbody>
                </table>
            </figure>
            </p>
            <p>
                Blind Test1 data set was originally used to test PON-Sol. It can be download from here.
                <a class="btn btn-primary btn-xs text-capitalize" href="{% url "ponsol2:download-dataset-ponsol" %}">
                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;download</a>
            </p>
            <h2 id="input_example">Mirror website</h2>
            <ul>
                <li>Soochow University, China: <a href="http://139.196.42.166:8010/">http://139.196.42.166:8010</a></li>
            </ul>

            <h2>Contact</h2>
            <p>If you have any problems, please contact Lianjie Zeng (<a href='mailto:1709404010@stu.suda.edu.cn'
                                                                         target='_blank'
                                                                         class='url'>1709404010@stu.suda.edu.cn</a>).
            </p>

        </div>
    </div>
{% endblock %}