{% extends "ponsol2web/base_generic.html" %}
{% block title %} About {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>About<small></small></h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 id="input_example">Mirror website</h2>
            <ul>
                <li>China, <a href="http://139.196.42.166:8090/">http://139.196.42.166:8090</a></li>
            </ul>
            <h2 id="input_example">Start to predict</h2>
            <p>To start using PON-Sol2, you just need to provide protein FASTA sequences and amino acid substitutions.
                For
                protein FASTA
                sequences,
                there are 2 input ways: directly input FASTA sequences or input protein IDs(GI, Ensemble ID or UniProt).
                For
                both ways, you can directly provide the corresponding content or upload files, and can submit multiple
                queries
                simultaneously.</p>
            <p>If you just want to get the input example, please click the &quot;Example&quot; text on the input
                page.</p>
            <h3>Input FASTA sequences</h3>
            <p>If you have the complete FASTA sequences, you can input FASTA sequences. FASTA sequences and amino acid
                substitutions must be
                provided, and email is optional. If email is provided, the results will be sent to you by email when
                ready. </p>
            <ol start=''>
                <li>For FASTA sequences, each sequence should have a header line starting with greater than sign (&gt;)
                    followed
                    by amino acids sequence. Amino acids sequence needs to start from a new line, and can be one-line or
                    multiline.
                </li>
                <li>For amino acid substitutions, substitutions corresponding to a sequence should contain the same
                    header
                    line as the sequence.
                    An amino acid substitution consists of three parts: origin amino acid, position and new amino acid.
                    For example, &quot;A2M&quot; means the second amino acid A (Alanine) is substituted by M
                    (Substitute).
                    Each protein sequence can correspond to multiple amino acid substitutions,
                    and amino acid substitutions in the same FASTA sequence should be on the different lines.
                </li>
            </ol>
            <h4>Example</h4>
            <ol start="">
                <li>
                    FASTA Sequence
                </li>
                <pre><code>>AAK83653.1 11-beta hydroxysteroid dehydrogenase type 1 [Homo sapiens]
MAFMKKYLLPILGLFMAYYYYSANEEFRPEMLQGKKVIVTGASKGIGREMAYHLAKMGAHVVVTARSKETLQKVVSHCLELGAASAHYIAGTMEDMTFAEQFVAQAGKLMGGLDMLILNHITNTSLNLFHDDIHHVRKSMEVNFLSYVVLTVAALPMLKQSNGSIVVVSSLAGKVAYPMVAAYSASKFALDGFFSSIRKEYSVSRVNVSITLCVLGLIDTETAMKAVSGIVHMQAAPKEECALEIIKGGALRQEEVYYDSSLWTTLLIRNPCRKILEFLYSTSYNMDRFINK

>sp|Q8NH21|OR4F5_HUMAN Olfactory receptor 4F5 OS=Homo sapiens OX=9606 GN=OR4F5 PE=3 SV=1
MVTEFIFLGLSDSQELQTFLFMLFFVFYGGIVFGNLLIVITVVSDSHLHSPMYFLLANLSLIDLSLSSVTAPKMITDFFSQRKVISFKGCLVQIFLLHFFGGSEMVILIAMGFDRYIAICKPLHYTTIMCGNACVGIMAVTWGIGFLHSVSQLAFAVHLLFCGPNEVDSFYCDLPRVIKLACTDTYRLDIMVIANSGVLTVCSFVLLIISYTIILMTIQHRPLDKSSKALSTLTAHITVVLLFFGPCVFIYAWPFPIKSLDKFLAVFYSVITPLLNPIIYTLRNKDMKTAIRQLRKWDAHSSVKF
</code></pre>
                <li>Amino Acid Substitution</li>
                <pre><code>>AAK83653.1 11-beta hydroxysteroid dehydrogenase type 1 [Homo sapiens]
M1A
F3K
>sp|Q8NH21|OR4F5_HUMAN Olfactory receptor 4F5 OS=Homo sapiens OX=9606 GN=OR4F5 PE=3 SV=1
V2E
T3F
</code></pre>

            </ol>
            <h3>Input Protein IDs</h3>
            <p>If you just have the protein IDs, PON-Sol2 will find the FASTA sequences according to the IDs.
                Protein IDs, amino acid substitutions and type of IDs must be provided, and email is optional.
                If email is provided, the results will be sent to you by email when ready.
            </p>
            <p>As protein IDs are usually short, there is only one input box. The IDs should be preceded by greater than
                sign
                (>).
                You can provide multiple amino acid substitutions, and the amino acid substitutions of the same protein
                need
                to put to the different lines after the line of ID.
                The following example
                means the protein that ID is Q5VT03 has two amino acid substitutions, the first is the first amino acid
                from
                M (Methionine) to A (Alanine) and the second is the third amino acid from F (Phenylalanine) to Q
                (Glutamic
                acid).
            <pre><code>&gt;Q5VT03
M1A
F2Q
</code></pre>
            </p>
            <h4>Example</h4>
            <ol start="">
                <li> ID and amino acid substitution</li>
                <pre><code>>Q5VT03
M1A
F2Q
>Q8NH21
V2A
</code></pre>
                <li> ID Type</li>
                <pre><code>UniProtKB/Swiss-Prot ID
</code></pre>
            </ol>
            <h2>Predict result</h2>
            <p>PON-Sol2 provides complete result presentation pages. For each submission you make we call it a &quot;Task&quot;
                and for each amino acid substitution we call it a &quot;Record&quot;. Each task and record has its own
                detail page. So there are
                3
                pages of predict result: </p>
            <ol start=''>
                <li>Task list. Click &quot;Result&quot; of navbar, you will get a task list according to your IP.</li>
                <li>Task detail and record list. Click status of task, you will get task detail containing status of
                    task,
                    start
                    time, end time, email and record list.
                </li>
                <li>Record detail. Click protein name of record, you will get record detail containing protein name,
                    FASTA
                    sequence, amino acid substitution, result and status.
                </li>

            </ol>
            <p>If you provide email when predicting, the results will be sent to you by email when ready. </p>
            <h2 id="dataset">Dataset</h2>
            <p>For PON-Sol2, altogether 11201 amino acid substitutions in 77 proteins are collected. After filtering,
                5666 variants
                (2798
                solubility decreasing, 1929 increasing and 939 without effect on solubility) are used for training, and
                662
                variants (338 solubility decreasing, 237 increasing and 87 without effect on solubility) are used for
                blind
                testing.
                <a class="btn btn-primary btn-xs text-capitalize" href="{% url "ponsol2:download-dataset-ponsol2" %}">
                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;download</a>

                <figure>
                    <table class="table">
                        <thead>
                        <tr class="text-capitalize">
                            <th> Dataset</th>
                            <th> variations</th>
                            <th> decrease</th>
                            <th> no-change</th>
                            <th> increase</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> Training dataset</td>
                            <td> 5666</td>
                            <td> 2798</td>
                            <td> 1929</td>
                            <td> 939</td>
                        </tr>
                        <tr>
                            <td> Blind Test1 dataset</td>
                            <td> 46</td>
                            <td> 12</td>
                            <td> 22</td>
                            <td> 12</td>
                        </tr>
                        <tr>
                            <td> Blind Test2 dataset</td>
                            <td> 662</td>
                            <td> 338</td>
                            <td> 237</td>
                            <td> 87</td>
                        </tr>
                        </tbody>
                    </table>
                </figure>
            </p>
            <p>
                If you just want the dataset of PON-Sol (2016), please download here.
                <a class="btn btn-primary btn-xs text-capitalize" href="{% url "ponsol2:download-dataset-ponsol" %}">
                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;download</a>
            </p>

            <h2>Cite PON-Sol</h2>
            <ol>
                <li><p>PON-Sol 2 will be published soon. <span class="label label-success">Waiting...</span></p>
                </li>
                <li><p>PON-Sol (2016) </p>
                    <p>Yang Yang, Abhishek Niroula, Bairong Shen, Mauno Vihinen</p>
                    <p><a href='https://doi.org/10.1093/bioinformatics/btw066'>PON-Sol: prediction of effects of amino
                        acid
                        substitutions on protein solubility</a></p>
                    <p>Bioinformatics, Volume 32, Issue 13, 1 July 2016, Pages 2032–2034, <a
                            href='https://doi.org/10.1093/bioinformatics/btw066' target='_blank' class='url'>https://doi.org/10.1093/bioinformatics/btw066</a>
                    </p>
                </li>

            </ol>
            <h2>Contact</h2>
            <p>If you have any problems, please contact Lianjie Zeng (<a href='mailto:zenglianjie@foxmail.com'
                                                                         target='_blank'
                                                                         class='url'>zenglianjie@foxmail.com</a>).</p>

        </div>
    </div>
{% endblock %}