{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "ponsol2web/button.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ponsol2web/base_style.css" %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "ponsol2web/css/bootstrap.min.css" %}">
    <!-- Custom styles for this template -->
    <link href="{% static "ponsol2web/css/justified-nav.css" %}" rel="stylesheet">

</head>
<body>
<div class="container">

    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="">
        <span><a href="{% url "ponsol2:login" %}">登录</a></span>
        <span>/</span>
        <span><a href="{% url "ponsol2:register" %}">注册</a></span>
        <span>/</span>
        <span><a href="{% url "ponsol2:logout" %}">退出登录</a> </span>
        <span>/</span>
        <span><a href="/zlj/admin">管理员</a> </span>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="{% url "ponsol2:index" %}">
                    <img alt="PON-Sol2" style="width:150px; max-height: 52px; padding: 5px;"
                         src="{% static "ponsol2web/img/ponsol2_logo.png" %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url "ponsol2:index" %}">Home</a></li>
                    <li><a href="{% url "ponsol2:input" %}">Predict</a></li>
                    <li><a href="{% url "ponsol2:task-list" %}">Result</a></li>
                    <li><a href="{% url "ponsol2:disclaimer" %}">Disclaimer</a></li>
                    <li><a href="{% url "ponsol2:about" %}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text">
                        <a href="{% url "ponsol2:login" %}"><strong>Sign in</strong></a>
                        /
                        <a href="{% url "ponsol2:register" %}">Sign up</a>

                    </p>
                    <form class="nav navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {% block content %}

    {% endblock %}
    <!-- Site footer -->
    <footer class="footer text-center">
        <p>Last updated: 2021-3-1
        </p>
    </footer>

</div> <!-- /container -->
</body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="{% static "ponsol2web/js/jquery.min.js" %}"></script>
<!-- 包括所有已编译的插件 -->
<script src="{% static "ponsol2web/js/bootstrap.min.js" %}"></script>
</html>