{% extends "ponsol2web/base_generic.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <div id="task_display">
        <h3>You submitted 100 times totally! It is more than 70% of all users.</h3>
        <div id="line_task_count"></div>
        <div>
            <div class="col-6">
                <h4>Distribution of input type</h4>
                <div class="row">
                    <div id="pie_task_type" class="col-lg-6">asd</div>
                    <div class="col-lg-6">
                        <table class="table">
                            <tr>
                                <th>type</th>
                                <th>count</th>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Sequence</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Protein</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>Distribution of task status</div>
                <div id="line_task_status"></div>
            </div>
        </div>
        <div id="record_display">
            <div id="line_count_record"></div>
            <div>
                <div class="col-lg-6">
                    <div>Distribution of predict result</div>
                    <div class="row">
                        <div class="col-lg-6" id="pie_task_result"></div>
                        <div class="col-lg-6">
                            <table class="table">
                                <tr>
                                    <th>type</th>
                                    <th>count</th>
                                </tr>
                                <tr>
                                    <td>ID</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Sequence</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Protein</td>
                                    <td>1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="line_count_result"></div>
            </div>

            <div>
                <div class="col-lg-9" id="bar_aa"></div>
                <div class="col-lg-3"></div>
            </div>
        </div>


    </div>
    <script type="text/javascript" src="{% static "ponsol2web/js/g2plot.min.js" %}"></script>
    <script>
        const {Line} = G2Plot;
        const data = [
            {year: '1991', value: 3},
            {year: '1992', value: 4},
            {year: '1993', value: 3.5},
            {year: '1994', value: 5},
            {year: '1995', value: 4.9},
            {year: '1996', value: 6},
            {year: '1997', value: 7},
            {year: '1998', value: 9},
            {year: '1999', value: 13},
        ];
        const line = new Line("line-chart", {
            data,
            xField: "year",
            yField: "value",
        })
        line.render();
    </script>
{% endblock %}

