{% extends "ponsol2web/base_generic.html" %}
{% block title %} About {% endblock %}

{% block content_title %}
    Disclaimer
{% endblock %}

{% block content_title_describe %}
    This non-profit server, its associated data and services are for research purposes only. The responsibility of Protein Structure and Bioinformatics Group, Lund University is limited to applying the best efforts in providing and publishing good programs and data. The developers have no responsibility for the usage of results, data or information which this server has provided.
{% endblock %}

{% block content %}
    <p>Waiting for completing...</p>
{% endblock %}