{% extends "ponsol2web/base_generic.html" %}
{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Wecome to <strong>PON-Sol2</strong></h1>
        <p class="lead">
            Solubility is a central protein property and when reduced can lead to diseases. We have developed a
            prediction method, PON-Sol2, to identify amino acid substitutions that increase, decrease of have no effect
            on the protein solubility. The method is a machine leaning tool utilizing gradient boosting algorithm and it
            has been trained on a large data set of variants with different outcomes after selection of features among
            large number of tested properties. The method is fast and has high performance, which was determined for
            each of the variation types as well as for the entire predictor.
        </p>
        <p><a class="btn btn-lg btn-success" href="{% url "ponsol2:input" %}" role="button">Get started</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Input Format</h2>
            <p>
                There are two input ways that have different input formats. FASTA sequences and amino acid substitutions
                are provided seperatly, or IDs and amino acid substitutions are put together.
            </p>
            <p><a class="btn btn-primary" href="{% url "ponsol2:about" %}#input_example" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Dataset</h2>
            <p>Altogether 11201 amino acid substitutions in 77 proteins are collected. After filtering, 5666 variants
                are used for training, and 662 variants are used for blind testing. The database is freely available.
                <a href="{% url "ponsol2:download-dataset-ponsol2" %}"> <span class="glyphicon glyphicon-download-alt"></span></a>
            </p>
            <p><a class="btn btn-primary" href="{% url "ponsol2:about" %}#dataset" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Predict Result</h2>
            <p>
                Predict result will be displayed in the Result page. The list of result is generated according to IP.
                You can also provide your email, and result will be sent to your email if completed.
            </p>
            <p><a class="btn btn-primary" href="{% url "ponsol2:task-list" %}" role="button">View
                details »</a></p>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 50px;">
        <h1 class="text-center text-capitalize">How to cite?</h1>
        <p>
            PON-Sol2 will be published soon.
        </p>
        <p>
            PON-Sol (2016), the old version based on Random Forests, has been published Bioinformatics.
            <span><a class="btn btn-success btn-xs" href="https://academic.oup.com/bioinformatics/article/32/13/2032/1742792?login=true" target="_blank">
                Go to Bioinformatics
            </a></span>
{#            Yang Yang, Abhishek Niroula, Bairong Shen, Mauno Vihinen, PON-Sol: prediction of effects of amino acid substitutions on protein solubility, Bioinformatics, Volume 32, Issue 13, 1 July 2016, Pages 2032–2034, https://doi.org/10.1093/bioinformatics/btw066#}
{#            It was trained this far on the largest dataset of 406 single amino acid substitutions.#}
{#            It grouped variants into three classes: solubility decreasing and increasing variants and those not affecting solubility.#}
        </p>
        {#        <div class="col-lg-6">#}
        {#            <h2 class="text-center text-capitalize">How to cite?</h2>#}
        {#        </div>#}
        {#        <div class="col-lg-6">#}
        {#            <h2 class="text-center text-capitalize">Dataset</h2>#}
        {#        </div>#}
    </div>
{% endblock %}

