{% extends "ponsol2web/base_generic.html" %}
{% block title %} Predict {% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Input Protein Ids<small></small></h1>
    </div>
    <div class="form row">
        {% if error_msg %}
            <div class="col-lg-12">
                <div class="alert alert-warning" role="alert">{{ error_msg }}</div>
            </div>
        {% endif %}
        <form id="ponsol_form" action="{% url "ponsol2:predict-ids" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-md-12">
                <label for="seq">ID and amino acid substitution</label>
                <a id="example_input" href="javascript:set_example()">Example</a>
                <div class="fix-vertical-center">
                    <div style="padding-left: 0px" class="col-md-8">
                        <textarea class="form-control" rows="10" name="seq" id="seq"></textarea>
                    </div>
                    <div class="col-md-1">
                        <strong>
                            OR
                        </strong>
                    </div>
                    <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
                        <label for="sequenceInputFile">Update ID and variation file</label>
                        <input type="file" id="sequenceInputFile" name="sequenceInputFile">
                    </div>
                </div>
            </div>
            <div>

                <div class="col-lg-8">
                    <label> ID Type </label>
                </div>
                <div class="col-lg-8 text-capitalize">
                    <label class="radio-inline">
                        <input type="radio" name="type" id="inlineRadio3" value="uniprot id">UniProtKB/Swiss-Prot
                        ID</label>
                    <label class="radio-inline">
                        <input type="radio" name="type" id="inlineRadio1" value="gi">Entrez gene ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" id="inlineRadio2" value="ensembl id">Ensembl ID
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-8" style="padding-left: 0px">
                    <label class="right-align" for="mail">E-mail</label>
                    <input type="email" name="mail" class="form-control" id="mail" placeholder="Email" required>
                </div>
            </div>
            <div class="col-md-8">
                <input class="btn btn-primary text-capitalize btn-block" type="submit" value="start predict">
            </div>
            {% if record_count %}
                <div class="text-right col-md-8" style="margin-top: 20px">Number of
                    calculations: {{ record_count }}</div>
            {% endif %}
        </form>
    </div>
    <script type="text/javascript">
        function set_example() {
            var seq_input = document.getElementById("seq")
            seq_input.value = ">Q5VT03\n\
M1A\n\
F2Q\n\
>Q8NH21\n\
V2A"
            var seq_kind = document.getElementById("inlineRadio3")
            seq_kind.checked = true;
        }
    </script>
{% endblock %}
