{% extends "ponsol2web/base_generic.html" %}

{% block content %}
    <div class="page-header">
        <h1>Variation Prediction<small></small></h1>
    </div>
    <div class="row" style="padding-left: 20px; padding-right: 20px">
        <p class="lead">
            Provide the sequences either in FASTA format or use an ID (GI, Ensemble ID or UniProt) along with list of
            variants. You can either write, copy/paste or upload the details in a file.
        </p>
        <a class="btn col-md-6 bg-info" href="{% url "ponsol2:seq-predict" %}">
            <h4>Input FASTA sequence(s)</h4>
        </a>
        <a class="btn col-md-6 bg-warning" href="{% url "ponsol2:seq-id" %}">
            <h4>Input protein ID(s)</h4>
        </a>
    </div>
{% endblock %}