{% extends "ponsol2web/base_generic.html" %}
{% block title %} Detail {% endblock %}

{% block content_title %} Result Detail{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Task Detail<small></small></h1>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Task Information</div>
        <div class="panel-body">
            {% if task.status == "running" %}
                <div class="alert alert-info" role="alert">Running! This task is running now, please wait a moment.
                </div>
            {% elif task.status == "finished" %}
                <div class="alert alert-success" role="alert">Finished! This task is finished, and the result is the
                    followed.
                </div>
            {% elif task.status == "error" %}
                <div class="alert alert-warning" role="alert">Error! {{ task.error_msg }}</div>            {% endif %}
            <table class="table table-bordered">
                <tr>
                    <td>Status</td>
                    <td class="text-capitalize">{{ task.status }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        {% if task.mail %}
                            {{ task.mail }}
                        {% else %}
                            <span>There is no e-mail committed.</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td>{{ task.start_time }}</td>
                </tr>
                <tr>
                    <td>Finish Time</td>
                    <td>{{ task.finish_time }}</td>
                </tr>

                {% if task.error_msg %}
                    <tr>
                        <td>Error Message</td>
                        <td>{{ task.error_msg }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        {% if task.record_set.all %}
            <!-- Table -->
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Protein Name</th>
                    <th>Status</th>
                    <th>Solubility</th>
                </tr>
                {% for record in task.record_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "ponsol2:record-detail" record.id %}">{{ record.name }}</a></td>
                        <td class="text-capitalize">{{ record.status }}</td>
                        <td>{{ record.solubility }}</td>
                    </tr>
                {% endfor %}

            </table>

        {% endif %}
    </div>
{% endblock %}
