{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "registration/js/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "registration/css/my-login.css" %}">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="{% static "ponsol2web/js/jquery.min.js" %}"></script>
</head>
{% block container %}

{% endblock %}
<!-- 包括所有已编译的插件 -->
<script src="{% static "registration/js/popper.min.js" %}"></script>
<script src="{% static "ponsol2web/js/bootstrap.min.js" %}"></script>
<script src="{% static "registration/js/my-login.js" %}"></script>
</html>